/*
Theme Name: Artist theme
Version: 1.0
Description: Тема для сайта школы исскуств
Author: Александр Голинский
Author URI: '8.8.8.8'
*/
.detail__feedback-error-text{

  position: absolute;
  left: 20px;
  top: 1px;

  opacity: 0;
  visibility: hidden;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;

  color: #E44659;
  font-size: 12px;
}

.detail__feedback-field{
	position: relative;
}

.detail__feedback-field.invalid .detail__feedback-error-text{
	opacity: 1;
	visibility: visible;
	-webkit-transition: 0.5s;
	-o-transition: 0.5s;
	transition: 0.5s;
}

.form__field.invalid .detail__feedback-error-text{
   opacity: 1;
  visibility: visible;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.form__field.invalid .form__icon:before{
  opacity: 1;
  visibility: visible;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  border-color: #E44659;
}

.subs__field.invalid .form__icon:before{
    opacity: 1;
    visibility: visible;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    border-color: #E44659;
}

.subs__field.invalid .detail__feedback-error-text{
    opacity: 1;
    visibility: visible;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}

