.modal--price {
    display: inline-block;
    width: 0;
    height: 0;
    opacity: 0;
    position: absolute;
    left: -9999999px;
    padding: 0 !important;
}

.modal--price.visible {
    display: inline-block;
    height: auto;
    width: 91.875rem;
    opacity: 1;
    position: static;
}

.modal--price .modal__form {
    width: 47%;
}

.modal--price .modal__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.modal--price .form__content {
    padding-top: 0 !important;
}

.modal--price .rebate__title {
    font-size: 1.9375rem;
    margin-bottom: 0;
}

.modal--price .rebate__caption {
    font-size: 1.25rem;
}

.modal--price .rebate__inner {
    padding: 0.3125rem 0.9375rem;
    bprice: 1px solid #E46C46;
}

.modal--price .rebate__img {
    right: 0;
}

.modal--price .rebate__left {
    width: 80%;
}